.about-content {
    background-color: #f5eeff;
    padding-top: 4.5vw;
    padding-bottom: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    font-size: 5vw;
    margin-bottom: 1vw;
}

.section__title {
    font-family: "Philosopher";
    font-weight: bold;
    color: #0e0025;
    letter-spacing: 0.1vw;
    line-height: 1.2;
}

.wrapper-about {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about__main-img {
    width: 25vw;
    border-radius: 0.5vw;
}

.wrapper-about-content {
    flex-direction: column;
    margin-top: 3vw;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.wrapper-about-text {
    width: 60%;
}

.about-list {
    white-space: nowrap;
}

.about-text {
    width: 40%;
    margin: 1.5vw 3vw 1.5vw 0;
    font-family: "Philosopher";
    font-size: 1.3vw;
    font-weight: bold;
}

.about-text-j {
    width: 40%;
    margin: 0vw 3vw 3vw 0;
    font-family: "Noto Sans JP";
    font-size: 1.3vw;
    white-space: nowrap;
    /* font-weight: bold; */
}

.wrapper-contant-img {
    margin-top: 2vw;
}

.contant-img {
    width: 2.8vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.link__img {
    transition: transform 0.3s;
}

.link__img:hover {
    transform: scale(1.2);
}