.leetcode-content {
    background-color: #f5eeff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 6vw;
    padding-bottom: 2.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.leetcode-title {
    font-family: "Chakra Petch";
    font-size: 2.5vw;
    margin-bottom: 3vw;
}

.wrapper-leetcode-part {
    width: 60%;
    margin-bottom: 3vw;
}

.leetcode-part-title {
    font-family: "Chakra Petch";
    font-size: 2vw;
    padding-left: 1.5vw;
    margin-bottom: 1vw;
}

.problem-link {
    font-family: "Jaldi";
    color: #9984fd;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 1.5vw;
}

.problem-link:hover {
    color: #9984fd;
    -webkit-animation: discolor 5s linear infinite;
    animation: discolor 5s linear infinite;
}

.approach-list {
    font-family: "Jaldi";
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 1.5vw;
}

.complexity-list {
    font-family: "Jaldi";
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 1.5vw;
}

.leetcode-code {
    width: 100%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    /* font-size: 0.8vw; */
}

.wrapper-stamp {
    width: 100%;
    background-color: #f5eeff;
    text-align: right;
}

.footer-img {
    width: 6vw;
    background-color: #f5eeff;
}