.leetcode-content {
    background-color: #f5eeff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6vw;
    padding-bottom: 2.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.leetcode-title {
    color: #000000;
    font-family: "Chakra Petch";
    font-size: 2.5vw;
    margin-bottom: 3vw;
}

.wrapper-leetcode-part {
    width: 60%;
    margin-bottom: 3vw;
}

.wrapper-leetcode-box {
    width: 60%;
    flex-direction: column;
}

.leetcode-box {
    width: 100%;
    height: 9.2vw;
    background-color: #584179;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    padding-top: 1.5vw;
    padding-left: 2vw;
    margin-bottom: 2vw;
}

.leetcode-text {
    font-family: "Chakra Petch";
    font-size: 1.3vw;
    color: #f5eeff;
    font-weight: bold;
}

.wrapper-leetcode-tag {
    font-family: "Jaldi";
    margin-left: 1vw;
    margin-top: 1vw;
}

.leetcode-tag {
    /* width: 10.5vw; */
    height: 1.8vw;
    background-color: #e3d0ff;
    border-radius: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-right: 1vw;
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    line-height: 1.8vw;
}

.read-more {
    font-family: "Jaldi";
    width: 5vw;
    color: #e3d0ff;
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.1vw;
}

.read-more:hover {
    color: #e3d0ff;
    -webkit-animation: discolor 5s linear infinite;
    animation: discolor 5s linear infinite;
}